body {
  font-family: Arial, sans-serif;
  background: #F5FBE6;
  color: #222;
}

section {
  /* padding: 70px 0; */
    padding: 80px 0;
  animation: fadeIn 1s ease;
}

.hero {
  background: #DFE7F2; 
  color: #215E61;
  animation: fadeIn 1.2s ease;
}
h1, h2 {
  font-weight: 800;
  color: darkcyan; 
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

button {
  background: black;
  color: #F5FBE6;
  border: none;
    border-radius: 50px;
  padding: 10px 22px;
  font-weight: 700;
  transition: transform 0.3s ease, background 0.3s ease;
}

button:hover {
  background: darkgray;
  transform: scale(1.08);
  color: #fff;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.apply {
    margin-top: -6px;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
}

#dropdown {
  display: none;
  list-style: none;
  padding: 10px;
  background: #f8f8f8;
}

.tabs button {
  margin: 10px;
  padding: 8px 16px;
}

.tab-content {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.card {
  margin: 10px;
  
}

.faq {
    margin: 15px 0;
  background: #215E61;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.faq:hover {
  background: #DFE7F2;
  color: black;
}


footer {
  background: #111;
  color: white;
  padding: 25px 0;
}
.row a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Mobile */
@media(max-width:768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }
}

/* fade-in whole page sections */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* card smooth animation on load */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}
